body {
    font-family: 'Della Respira', sans-serif;
    background-color: #000;
}

.text-orange {
    color: #f2c300;
}
.text-red {
    color: #df0000;
}
.text-blue {
    color: #0099f6;
}
.text-green {
    color: #00b844;
}
