body {
    font-family: 'Della Respira', 'Roboto';
    background-color:black;
    background-image: url(../img/star-trek-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.text-orange {
    color: #f2c300;
}
.text-red {
    color: #df0000;
}
.text-blue {
    color: #0099f6;
}

.text-green {
    color: #00b844;
}